body{
    background-color: #0A192F;
    color: #fff;
}

body h1 {
    color: #fff;
    opacity: 0.7;
}

main .landing-content{
    padding-top: 80px;
    padding-bottom: 80px;
}

main .about-content{
    padding-bottom: 90px;
}

main .work-content{
    padding-bottom: 80px;
}

main .contact-me{
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

main .container .row {
    align-items: center;
}



.tech-stack {
   display: flex;
}

.tech-stack div {
    padding-right: 80px;
}

.heading-name{
    border-bottom: .25rem solid;
    display: inline-block;
}

.cover-container {
    max-width: 50em;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profiles{
    font-size:28px;
    padding: 8px;
    color: white;
}



@media screen and (max-width: 800px) {
    img{
        display: table;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}